<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Adivina el Número</a>

        <div>
            <a href="/" class="btn btn-outline-light btn-sm">Inicio</a>
            <a href="/historial" class="btn btn-outline-light btn-sm">Historial</a>
            <a href="/historial-personal" class="btn btn-outline-light btn-sm">Historial personal</a>
            <a href="/ranking" class="btn btn-outline-light btn-sm">Ranking</a>
            <a href="/configuracion" class="btn btn-outline-light btn-sm">Configuración</a>
        </div>
    </div>
</nav>